<div class="a">
    <div class="edit-pass">
      <div class="card w-50 mx-auto">
    <h2>パスワードをお忘れの方</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions",class:"btn btn-info btn-sm" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
      </div>
    </div>
</div>
