<h1 class="ranktitle"><span class="marker">いいねランキングTOP3</span></h1>

<h2 class="rank-match">マッチング作品TOP3</h2>
 <div class="rank-posts">
  <div class="row">
      <% @rank_musics.each do |t| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card text-center border-secondary mb-3">
          <div class="card-body">
              <h5 class="card-title font-weight-bold text-center"><%= t.title%></h5>
              <p class="text-muted">マッチングしたユーザー</p>
              <h6 class="card-subtitle mb-2 text-muted"><%= t.matchuser%></h6>
              <a href="/users/ <%= t.user.id %>">投稿者：<%= t.user.name %></a>
              <div class="like">
              <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
              <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                <i class="far fa-star"></i><%= t.likes.count %>
                <% end %>
                <% else %>
                <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                  <i class="far fa-star"></i><%= t.likes.count %>
                  <% end %>
                  <% end %>
                  <% else %>
                  <i class="far fa-star"></i>
                  <%= t.likes.count %>
                  <% end %>
                  </div>
 
                  <div class="button">
                    <%= link_to "詳細へ", post_path(t.id),class:"btn btn-info btn-sm" %>
                    <% if user_signed_in? && current_user.id == t.user_id %>
                    <%= button_to "削除する", post_path(t.id), method: :delete,class:"btn btn-warning btn-sm" %>
                    <% end %>
                  </div> 
                    <p class="card-footer text-muted"><%= t.created_at.to_s(:datetime_jp) %></p>
            </div>
        　</div>
        </div>
      <% end %>
    </div>
  </div>

  <h2 class="rank-lyric">歌詞TOP3</h2>
      <div class="rank-posts">
        <div class="row">
          <% @rank_lyrics.each do |t| %>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card text-center border-secondary mb-3">
              <div class="card-body">
                  <h5 class="card-title font-weight-bold text-center"><%= t.lyrictitle%></h5>
                  <a href="/users/ <%= t.user.id %>">投稿者：<%= t.user.name %></a>
                  <div class="like">
                  <% if user_signed_in? %>
                  <% if current_user.already_liked?(t) %>
                  <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                    <i class="far fa-star"></i><%= t.likes.count %>
                    <% end %>
                    <% else %>
                    <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                      <i class="far fa-star"></i><%= t.likes.count %>
                      <% end %>
                      <% end %>
                      <% else %>
                      <i class="far fa-star"></i><%= t.likes.count %>
                      <% end %>
                      </div>
                      <div class="button">
                      <%= link_to "詳細へ", post_path(t.id),class:"btn btn-info btn-sm" %>
                      <% if user_signed_in? && current_user.id == t.user_id %>
                      <%= button_to "削除する", post_path(t.id), method: :delete,class:"btn btn-warning btn-sm" %>
                      <% end %>
                      </div> 
                  <p class="card-footer text-muted"><%= t.created_at.to_s(:datetime_jp) %></p>
              </div>
          　</div>
          </div>
        <% end %>
      </div>
    </div>
      

<h2 class="rank-melody">作曲TOP3</h2>
<div class="rank-posts">
  <div class="row">
    <% @rank_melodys.each do |t| %>
     <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card text-center border-secondary mb-3">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-center"><%= t.melodytitle%></h5>
          <a href="/users/ <%= t.user.id %>">投稿者：<%= t.user.name %></a>
          <div class="like">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
          <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <i class="far fa-star"></i><%= t.likes.count %>
            <% end %>
            <% else %>
            <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
              <i class="far fa-star"></i><%= t.likes.count %>
              <% end %>
              <% end %>
              <% else %>
              <i class="far fa-star"></i><%= t.likes.count %>
              <% end %>
              </div>
              <div class="file">
              <%= audio_tag t.audio_url, :controls => true if t.audio? %><br>
            </div>
              <div class="button">
              <%= link_to "詳細へ", post_path(t.id),class:"btn btn-info btn-sm" %>
              <% if user_signed_in? && current_user.id == t.user_id %>
              <%= button_to "削除する", post_path(t.id), method: :delete,class:"btn btn-warning btn-sm" %>
              <% end %>
              </div> 
          <p class="card-footer text-muted"><%= t.created_at.to_s(:datetime_jp) %></p>
        </div>
  　  </div>
    </div>
  <% end %>
  </div>
</div>

<h2 class="rank-song">歌声TOP3</h2>
<div class="rank-posts">
  <div class="row"> 
    <% @rank_songs.each do |t| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
       <div class="card text-center border-secondary mb-3">
         <div class="card-body">
          <h5 class="card-title font-weight-bold text-center"><%= t.songtitle%></h5>
          <a href="/users/ <%= t.user.id %>">投稿者：<%= t.user.name %></a>
          <div class="like">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
          <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <i class="far fa-star"></i><%= t.likes.count %>
            <% end %>
            <% else %>
            <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
              <i class="far fa-star"></i><%= t.likes.count %>
              <% end %>
              <% end %>
              <% else %>
              <i class="far fa-star"></i><%= t.likes.count %>
              <% end %>
              </div>
              <div class="file">
              <%= audio_tag t.audio_url, :controls => true if t.audio? %><br>
            </div>
              <div class="button">
              <%= link_to "詳細へ", post_path(t.id),class:"btn btn-info btn-sm" %>
              <% if user_signed_in? && current_user.id == t.user_id %>
              <%= button_to "削除する", post_path(t.id), method: :delete,class:"btn btn-warning btn-sm" %>
              <% end %>
              </div> 
          <p class="card-footer text-muted"><%= t.created_at.to_s(:datetime_jp) %></p>
          </div>
        </div>
  　  </div>
    <% end %>
  </div>
</div>

<h2 class="rank-movie">映像・アニメーションTOP3</h2>
<div class="rank-posts">
  <div class="row">
    <% @rank_movies.each do |t| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card text-center border-secondary mb-3" id="rankcard">
         <div class="card-body">
          <h5 class="card-title font-weight-bold text-center"><%= t.movietitle%></h5>
          <a href="/users/ <%= t.user.id %>">投稿者：<%= t.user.name %></a>
          <div class="like">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
          <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <i class="far fa-star"></i><%= t.likes.count %>
            <% end %>
            <% else %>
            <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
              <i class="far fa-star"></i><%= t.likes.count %>
              <% end %>
              <% end %>
              <% else %>
              <i class="far fa-star"></i><%= t.likes.count %>
              <% end %>
              </div>
              <div class="file">
                <%=  video_tag t.video_url  ,height: "55%", width: "55%",:controls => true if t.video?%>
              </div>
              <div class="button">
              <%= link_to "詳細へ", post_path(t.id),class:"btn btn-info btn-sm" %>
              <% if user_signed_in? && current_user.id == t.user_id %>
              <%= button_to "削除する", post_path(t.id), method: :delete,class:"btn btn-warning btn-sm" %>
              <% end %>
              </div> 
          <p class="card-footer text-muted"><%= t.created_at.to_s(:datetime_jp) %></p>
          </div>
        </div>
  　  </div>
    <% end %>
  </div>
</div>

