
<% if @category=="musics" %>
<h1 class="formtitle-match">投稿フォーム</h1>
<h3 class="formtitle2-match">マッチング作品</h3>
    <%= form_for @post do |f| %>
        <div class="field">
            <div class="form-group">
                <label for="title">タイトル</label>
                <%= f.text_field :title, class:"form-control",:size => 50 %>
            </div>
            <div class="form-group">
                <label for="matchuser">マッチングしたユーザー</label>
                    <%= f.text_field :matchuser,class:"form-control",:size => 50 %>
            </div>
            <div class="form-group">
                <label for="lyric">歌詞</label> 
                    <%= f.text_area :body, class:"form-control"%>
            </div>
            <div class="form-group">
                <label for="video">動画ファイル</label>
                    <%= f.file_field :video ,class:"form-control-file"%>
            </div>
            <div class="form-group">
                <label for="audio">音声ファイル</label>
                    <%= f.file_field :audio ,class:"form-control-file"%>
            </div>
        
        </div>
            <%= f.hidden_field :category, :value => "musics" %>
        <div class="submit">
            <%= f.submit "投稿する" ,class:"btn btn-primary btn-lg btn btn-info" %>
        </div>
        <% end %>


<% elsif @category=="lyric" %>
    <h1 class="formtitle-lyrics">投稿フォーム</h1>
    <h3 class="formtitle2-lyrics">歌詞</h3>
    <%= form_for @post do |f| %>
        <div class="field">
            <div class="form-group">
                <label for="title">タイトル</label>
                <%= f.text_field :lyrictitle, class:"form-control",:size => 50 %>
            </div>
            <div class="form-group">
                <label for="lyric">歌詞</label> 
                    <%= f.text_area :lyricbody, class:"form-control"%>
            </div>
        </div>
            <%= f.hidden_field :category, :value => "lyric" %>
        <div class="submit">
            <%= f.submit "投稿する" ,class:"btn btn-primary btn-lg btn btn-info" %>
        </div>
    <% end %>

<% elsif @category=="melody" %>
    <h1 class="formtitle-melodys">投稿フォーム</h1>
    <h3 class="formtitle2-melodys">作曲</h3>
    <%= form_for @post do |f| %>
        <div class="field">
            <div class="form-group">
                <label for="title">タイトル</label>
                <%= f.text_field :melodytitle, class:"form-control",:size => 50 %>
            </div>
            <div class="form-group">
                <label for="audio">音声ファイル</label>
                <%= f.file_field :audio ,class:"form-control-file"%>
            </div>
        </div>
        <%= f.hidden_field :category, :value => "melody" %>
        <div class="submit">
            <%= f.submit "投稿する" ,class:"btn btn-primary btn-lg btn btn-info" %>
        </div>
    <% end %>
    
<% elsif @category=="song" %>
    <h1 class="formtitle-songs">投稿フォーム</h1>
    <h3 class="formtitle2-songs">歌声</h3>
    <%= form_for @post do |f| %>
        <div class="field">
            <div class="form-group">
                <label for="title">タイトル</label>
                <%= f.text_field :songtitle, class:"form-control",:size => 50 %>
            </div>
            <div class="form-group">
                <label for="audio">音声ファイル</label>
                <%= f.file_field :audio ,class:"form-control-file"%>
            </div>
        </div>
        <%= f.hidden_field :category, :value => "song" %>
        <div class="submit">
            <%= f.submit "投稿する" ,class:"btn btn-primary btn-lg btn btn-info" %>
        </div>
    <% end %>

<% elsif @category=="movie" %>
    <h1 class="formtitle-movies">投稿フォーム</h1>
    <h3 class="formtitle2-movies">映像・アニメーション</h3>
    <%= form_for @post do |f| %>
        <div class="field">
            <div class="form-group">
                <label for="title">タイトル</label>
                <%= f.text_field :movietitle, class:"form-control",:size => 50 %>
            </div>
            <div class="form-group">
                <label for="video">動画ファイル</label>
                    <%= f.file_field :video ,class:"form-control-file"%>
            </div>
        </div>
        <%= f.hidden_field :category, :value => "movie" %>
        <div class="submit">
            <%= f.submit "投稿する" ,class:"btn btn-primary btn-lg btn btn-info" %>
        </div>
    <% end %>

<%end%>
