
<h1 class="showtitle"><span class="marker7">投稿詳細</span></h1>
<% if @post.category == "musics"%>
<div class="card text-center w-75 mx-auto border-secondary mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold text-center"><%= @post.title %></h5>
    <p class="card-subtitle mb-2 text-muted">マッチングしたユーザー:<%= @post.matchuser%></p>
    <div class="file">
      <%= audio_tag @post.audio_url, :controls => true if @post.audio? %>
      <%=  video_tag @post.video_url ,height: "55%", width: "55%",:controls => true if @post.video?%>
    </div>
      <p class="card-text"><%= @post.body %></p>

    <div class="like">

      <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
      <%= link_to post_like_path(@post), method: :delete do %>
      <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% else %>
      <%= link_to post_likes_path(@post), method: :post do %>
          <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% end %>
      <% else %>
        <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
    </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "編集する", edit_post_path(@post.id),class:"btn btn-success btn-sm" %>
      <% end %>
      <%= link_to "投稿一覧に戻る", posts_path ,class:"btn btn-outline-info btn-sm"%>

        <p class="card-footer text-muted"><%= @post.created_at.to_s(:datetime_jp) %></p>
  </div>
</div>


<% elsif @post.category == "lyric" %>
<div class="card text-center w-75 mx-auto border-secondary mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold text-center"><%= @post.lyrictitle %></h5>
    <p class="card-text"><%= @post.lyricbody %></p>

    <div class="like">

      <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
      <%= link_to post_like_path(@post), method: :delete do %>
      <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% else %>
      <%= link_to post_likes_path(@post), method: :post do %>
          <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% end %>
      <% else %>
        <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
    </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "編集する", edit_post_path(@post.id),class:"btn btn-success btn-sm" %>
      <% end %>
      <%= link_to "投稿一覧に戻る", posts_path ,class:"btn btn-outline-info btn-sm"%>

        <p class="card-footer text-muted"><%= @post.created_at.to_s(:datetime_jp) %></p>
  </div>
</div>


<% elsif @post.category == "melody" %>
<div class="card text-center w-75 mx-auto border-secondary mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold text-center"><%= @post.melodytitle %></h5>
    <div class="file">
      <%= audio_tag @post.audio_url, :controls => true if @post.audio? %>
    </div>

    <div class="like">

      <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
      <%= link_to post_like_path(@post), method: :delete do %>
      <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% else %>
      <%= link_to post_likes_path(@post), method: :post do %>
          <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% end %>
      <% else %>
        <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
    </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "編集する", edit_post_path(@post.id),class:"btn btn-success btn-sm" %>
      <% end %>
      <%= link_to "投稿一覧に戻る", posts_path ,class:"btn btn-outline-info btn-sm"%>

        <p class="card-footer text-muted"><%= @post.created_at.to_s(:datetime_jp) %></p>
  </div>
</div>


<% elsif @post.category == "song" %>
<div class="card text-center w-75 mx-auto border-secondary mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold text-center"><%= @post.songtitle %></h5>
    <div class="file">
      <%= audio_tag @post.audio_url, :controls => true if @post.audio? %>
    </div>

    <div class="like">

      <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
      <%= link_to post_like_path(@post), method: :delete do %>
      <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% else %>
      <%= link_to post_likes_path(@post), method: :post do %>
          <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% end %>
      <% else %>
        <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
    </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "編集する", edit_post_path(@post.id),class:"btn btn-success btn-sm" %>
      <% end %>
      <%= link_to "投稿一覧に戻る", posts_path ,class:"btn btn-outline-info btn-sm"%>

        <p class="card-footer text-muted"><%= @post.created_at.to_s(:datetime_jp) %></p>
  </div>
</div>


<% elsif @post.category == "movie" %>
<div class="card text-center w-75 mx-auto border-secondary mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold text-center"><%= @post.movietitle %></h5>
    <div class="file">
      <%=  video_tag @post.video_url ,height: "55%", width: "55%",:controls => true if @post.video?%>
    </div>

    <div class="like">

      <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
      <%= link_to post_like_path(@post), method: :delete do %>
      <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% else %>
      <%= link_to post_likes_path(@post), method: :post do %>
          <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
      <% end %>
      <% else %>
        <i class="far fa-star"></i><%= @post.likes.count %>
      <% end %>
    </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "編集する", edit_post_path(@post.id),class:"btn btn-success btn-sm" %>
      <% end %>
      <%= link_to "投稿一覧に戻る", posts_path ,class:"btn btn-outline-info btn-sm"%>

        <p class="card-footer text-muted"><%= @post.created_at.to_s(:datetime_jp) %></p>
  </div>
</div>
<% end %>
  